# background stuff
__pycache__
.DS_Store
.vscode/

# app stuff
*.db

# compiled files
*.out

# raw audio files
*.wav
*.m4a
*.mp3

# include testcase audio files
!testcases/*.wav

# extensions
ext/

# error logs
*.log

# object save files
*.relativism-obj
out/

# misc personal files
TODO
test.py
notes.md
misc/
