{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div id="all-content" class="container">

    <div id="content-head" class="content-box">
        <table class="menu">
            <tr>
                <td>
                    <h1>Relativism</h1>
                </td>
                <td>
                    <p>
                        <a href="/">Home</a>
                    </p>
                </td>
                <td>
                    <p>Save</p>
                </td>
            </tr>
        </table>
    </div>

    <div id="content-body" class="container">

        <div id="left-sidebar" class="column sidebar">

            <div class="content-box">

                <table class="menu">
                    <tr>
                        <td>
                            <h3>Menu</h3>

                        </td>
                    </tr>

                </table>
                
            </div>

        </div>

        <div id="main-panel" class="column">

            <div class="content-box">

                <h3>{{obj.name}}</h3>

            </div>

        </div>


    </div>


</div>

{% endblock %}