{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="content">

    <div class="content-box">
        <table class="menu">
            <tr>
                <td>
                    <h1>Relativism</h1>
                </td>
                <td>
                    <p>
                        <a href="/">Home</a>
                    </p>
                </td>
                <td>
                    <p>Save</p>
                </td>
            </tr>
        </table>
    </div>


    <p>{{ var }}</p>


</div>

{% endblock %}